.icon {
	display: inline-block;
	vertical-align: top;
	fill: currentColor;
}

.icon-arrow-1 {
	width:rem(46.79);
	height:rem(15.84);
}
.icon-arrow-2 {
	width:rem(40.71);
	height:rem(61.97);
}
.icon-arrow-3 {
	width:rem(43.91);
	height:rem(35.53);
}
.icon-logo {
	width:rem(385.51);
	height:rem(406.96);
}
.icon-logo-short {
	width:rem(248.28);
	height:rem(251.22);
}
